/* BASIC ELEMENTS */

* {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

header {
	text-align: center;
	align-content: center;
}


/*CLASSES*/

/*header*/

.header_name {
	font-size: 32px;
	font-weight: black;
}

/*navigation bar*/

.navigation_bar {
	
}

.navigation_bar ul {
	list-style-type: none;
}

.navigation_bar ul li {
	display: inline-block;
	width: 200px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.navigation_bar ul li a {

}

.active {
	text-decoration: none;
}

/*IDs*/

