/* BASIC ELEMENTS */

* {
	font-family: 'Montserrat', sans-serif;
}

header {
	text-align: center;
	align-content: center;
}


/*CLASSES*/

/*navigation bar*/

.navigation_bar {

}

.navigation_bar ul {
	list-style-type: none;
}

.navigation_bar ul li {
	display: inline-block;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.navigation_bar ul li a {

}

.active {
	text-decoration: none;
}

/*IDs*/

