@font-face {
	font-family: VCR-OSD;
	src: url(res/font/vcrosd.ttf);
}

/* BASIC ELEMENTS */

* {
	font-family: 'Roboto', sans-serif;
}

hr {
	margin-top: 50px;
}

p {
	font-size: 18px;
	text-indent: 30px;
	text-align: justify;
	font-weight: 300;
}

a:link, a:visited {
	text-decoration: none;
	color: black;	
}

a:link:active, a:visited:active {
	text-decoration: none;
	color: rgba(0,0,0,0.6);
}

header {
	align-content: center;
	text-align: center;
	width: 100%;
	padding-top: 20px;
}

content {
	margin: auto;
	max-width: 700px;
	display: block;
	align-content: center;
}

footer {
	font-weight: 300;
	font-size: 12px;
	max-width: 700px;
	margin: auto;
}



/*CLASSES*/

/*header*/

.header1 {
	font-size: 48px;
	font-weight: 900;
}

.header2 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 50px;
	margin-top: 30px;
}

/*navigation bar*/

.navigation_bar {
	font-weight: 300;
}

.navigation_bar ul {
	list-style-type: none;
	padding-left: 0;
}

.navigation_bar ul li {
	font-size: 20px;
	display: inline-block;
	padding-left: 25px;
	margin-left: 25px;
	padding-right: 25px;
	margin-right: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
}

.navigation_bar ul li a {
	
}

.active {
	text-decoration: none;
	color: rgb(0,122,255);
}

/*identity_card*/

.card {
	margin: 20px;
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
	border-radius: 20px;
	
}

.profile_picture {
	display: none;
}

.idcard_info h3, .card h3 {
	font-size: 25px;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	color: black;
	font-family: VCR-OSD;
	color: rgb(130,130,130);
}

/*introduction*/

.introduction {
	text-align: center;
	margin-left: auto;
	margin-top: 50px;
	margin-right: auto;
	max-width: 700px;
	line-height: 1.5em;
}

/*learning*/

.container {
	text-align: center;
}

.semester_card_table {
	padding: 30px;
	font-size: 25px;
	color: black;
	width: 640px;
	margin: 30px;
}

.semester_card_table tr th, .semester_card_table tr td {
	font-size: 25px;
	font-family: VCR-OSD;
	color: rgb(130,130,130);
}

.semester_card_table tr th:nth-child(1), .semester_card_table tr td:nth-child(1) {
	text-align: left;
}

/*projects*/

.flex-container {
	display: flex;
}

.project_card_image {
	margin-bottom: 30px;
	border-radius: 15px;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
}

/*IDs*/

@media only screen and (min-width: 600px) {

	.profile_picture {
		display: block;
		border-radius: 50%;
		margin: auto 30px auto auto;
		box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
		width: 30%;
		height: 30%;
	}

}










